<div class="card mt-4 mb-3" >
    <img src="..." class="card-img-top" alt="..." [src]="auction?.associatedVehicle?.vehicleImages[0]?.url" [alt]="auction?.label"> 
    <div class="card-body ">
      <h6 class="card-title card--label">{{auction?.label}}</h6>
    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">{{auction?.associatedVehicle.ez}} </li>

      <li class="list-group-item">{{auction?.associatedVehicle.mileageInKm }} KM</li>

      <li class="list-group-item">{{auction?.associatedVehicle.fuelType | fuelType}}</li>

      <li class="list-group-item">{{auction?.associatedVehicle.transmission| transmissionType}}</li>

    </ul>
    <div class="card-body">
      <div> 
        <label for="countdown"> Remaining time :  </label>
        <span name="countdown" class="card--countdown"> {{auction?.remainingTimeInSeconds | countdown }}  </span> </div>
      <p class="card--price"> {{auction?.currentHighestBidValue}} €</p>
      <p class="" *ngIf="auction?.amIHighestBidder">Highest Bidder <span class="card--blink">🔴 </span></p>
    </div>
  </div>