.card {

    border-radius: 8px;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
    top: 0;
    transition: all 0.25s;
    width: 18rem;

    &:hover {
        top: -15px;
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    &--label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--countdown {
        color: red;
    }

    &--price {
        float: right;
        font-size: 1.2rem;
        margin-top: 0.4rem;
        margin-bottom: 0;
        color: #ffd452;
    }

    &--blink {
        color: red;
        margin-right: 0.5rem;
        animation: blink 2s steps(5, start) infinite;
        -webkit-animation: blink 1s steps(5, start) infinite;
    }

    @keyframes blink {
        to {
            visibility: hidden;
        }
    }

    @-webkit-keyframes blink {
        to {
            visibility: hidden;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .card {
        width: 100%;
    }
  }